html {
  background: url(../background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Georgia", sans-serif;
}

.prof-box {
    width: 1200px;
    height: 800px;
    background: rgba(0,0,0,0.2);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}  
.prof-pic{
    border-radius: 10%;
    width: 225px;
    height: 275px;
}

h1 {
     color: aliceblue;
    font-weight: 100;
    letter-spacing: 5;
}

h5 {
    letter-spacing: 2;
  font-weight: bolder;
  font-size: larger;
}

.social-icons {
  font-size: 30px;
  color: white;
}

p {
  font-size: larger;
}

.nav_bar {
    margin: 0 auto;
    width: 1200;
    padding: 10px 40px 10px 40px;
    /*border: 1px rgba(0,0,0,0.2);*/
    /* background: #000000; */
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    word-spacing: 200
}

.nav_bar a{
color: #ffffff;
  text-decoration: none;
}

.nav_bar a:hover {
  color: #000000;
  text-decoration: underline; 
}

.footer {
  text-align: center;
  
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  }

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.cv-page {
  text-align: left;
  font-size: 15px;
}

.news{
  
}
