html{
  background: url(../background.jpg);
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Georgia", sans-serif;
}

.prof-box {
width: 800px;
height: 400px;
background: rgba(0,0,0,0.3);
padding: 40px;
color: white;
margin: 0 auto;
margin-top: 140px;
  text-align: center;
}  
.prof-pic{
  border-radius: 50%;
  height: 200px;
  height: 200px;
}

h1 {
     color: aliceblue;
    font-weight: 100;
    letter-spacing: 5;
}

h5 {
    letter-spacing: 2;
  font-weight: bolder;
}
