html {
  background: url(../background.jpg);
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Georgia", sans-serif;
}

.prof-box {
    width: 1200px;
    height: 400px;
    background: rgba(0,0,0,0.2);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}  
.prof-pic{
    border-radius: 10%;
    width: 200px;
    height: 250px;;
}

h1 {
     color: aliceblue;
    font-weight: 100;
    letter-spacing: 5;
}

h5 {
    letter-spacing: 2;
  font-weight: bolder;
  font-size: larger;
}

.social-icons {
  font-size: 60px;
  color: white;
}
